<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="DB1Context"
         connectionString="Server=1f50ffa7-7a7e-4b4f-a296-a5b5016b73ec.sqlserver.sequelizer.com;Database=db1f50ffa77a7e4b4fa296a5b5016b73ec;User ID=bcvkynotsfczaete;Password=YHtDEfYnYtDn3KDpdJwESB5oudVECWb5tEn7xBV6pMJMcu2hSZYzWpAwMeiArtSb;" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>